<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Recipe Form</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	
	<script th:src="@{/js/jquery.min.js}"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="justify-content-center">
        <div class="col-md-6 offset-md-3">
            <form  th:object="${recipe}" th:action="@{/recipe/}"  method="post">
            
            	<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Please Correct Errors Below</p>
                </div>
                
                <input type="hidden" th:field="*{id}"/>
                <div class="panel-group">
                    <div class="card mb-3">
                        <div class="card-header bg-primary text-light mb-3">
                            <h2 class="card-title">Edit Recipe Information</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('description')} ? 'col-md-3 form-group text-danger' : 'col-md-3 form-group'">
                                    <label th:text="#{recipe.description}"><b>Recipe Description:</b></label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label><b>Categories:</b></label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 1
                                        </label>
                                    </div>
                                    <div class="radio" th:remove="all">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 2
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('prepTime')} ? 'col-md-3 form-group text-danger' : 'col-md-3 form-group'">
                                    <label><b>Prep Time:</b></label>
                                    <input type="text" class="form-control" th:field="*{prepTime}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('prepTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('cookTime')} ? 'col-md-3 form-group text-danger' : 'col-md-3 form-group'">
                                    <label><b>Cook Time:</b></label>
                                    <input type="text" class="form-control" th:field="*{cookTime}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('cookTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label><b>Difficulty:</b></label>
                                    <select class="form-control" th:field="*{difficulty}">
                                        <option th:each="difficultyValue : ${T(guru.springframework.spring5recipeapp.domain.Difficulty).values()}"
                                        		th:value="${difficultyValue.name()}"
                                        		th:text="${difficultyValue.name()}">val</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('servings')} ? 'col-md-3 form-group text-danger' : 'col-md-3 form-group'">
                                    <label><b>Servings:</b></label>
                                    <input type="text" class="form-control" th:field="*{servings}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('servings')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('source')} ? 'col-md-3 form-group text-danger' : 'col-md-3 form-group'">
                                    <label><b>Source:</b></label>
                                    <input type="text" class="form-control" th:field="*{source}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('source')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('source')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('url')} ? 'col-md-3 form-group text-danger' : 'col-md-3 form-group' ">
                                    <label><b>URL:</b></label>
                                    <input type="text" class="form-control" th:field="*{url}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('url')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('url')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header bg-primary text-light mb-3">
                            <div class="row">
                                <div class="col-md-11 ">
                                    <h2 class="card-title">Ingredients</h2>
                                </div>
                                <div class="col-md-1">
                                    <a class="btn btn-light" href="#" role="button">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul>
                                        <li th:remove="all">1 Cup of milk</li>
                                        <li th:remove="all">1 Teaspoon of chocolate</li>
                                        <li th:each="ingredient : ${recipe.ingredientsCommand}"
                                            th:text="${(ingredient.getAmount() +
                                        ' ' + ingredient.uomCommand.getUom() +
                                        ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header bg-primary text-light mb-3">
                            <h2 class="card-title">Directions</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{directions}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header bg-primary text-light mb-3">
                            <h2 class="card-title">Notes</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{notesCommand.recipeNotes}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>